parameters:
    excludePaths:
        - '**/node_modules/*'
    level: 8
    paths:
        - ./src
    ignoreErrors:
        - identifier: missingType.generics
        - '#Property Dotdigital\\Flow\\Storefront\\Controller\\SmsConsentCaptureController::\$twig is never read, only written.#'
