parameters:
    excludePaths:
        - '**/node_modules/*'
    level: 8
    paths:
        - ./src
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
            - '#Property Dotdigital\\Flow\\Storefront\\Controller\\SmsConsentCaptureController::\$twig is never read, only written.#'
