.dotdigital-flowbuilder-plugin-modal {
    .sw-field {
        margin-bottom: 5px;
    }

    .sw-flow-mail-send-modal__description {
        margin-bottom: 20px;
        display: block;
        color: #8599ad;
    }

    .sw-modal__footer {
        justify-content: end;
        align-items: center;
        display: flex;

        .pull-left {
            margin-right: auto;
        }
    }
}
