{% block dotdigital_flow_campaign_modal %}
<sw-modal
    class="dotdigital-flowbuilder-plugin-modal"
    :title="modalTitle"
    :subtitle="modalSubTitle"
    @modal-close="onClose"
>

    {% block sw_flow_mail_send_modal_recipient %}
        <dotdigital-recipient-selector
            :recipient="contactEmail"
            @selected-recipient="handleRecipientSelection"
        />
    {% endblock %}

    {% block dotdigital_flowbuilder_plugin_modal_content %}
        <sw-single-select
            v-model="campaignId"
            class="sw-flow-mail-send-modal__select"
            :is-loading="!sequenceReady"
            :disabled="!sequenceReady"
            :options="availableCampaigns"
            :label="$tc('sw-flow.actions.campaign.fields.campaign.label')"
            :placeholder="$tc('sw-flow.actions.campaign.fields.campaign.placeholder')"
            @change="handleCampaignSelection"
        />
        <small class="dd-description">
            {{ $tc('sw-flow.actions.campaign.fields.campaign.description') }}
            <a
                href="https://support.dotdigital.com/hc/en-gb/articles/115000739064-Creating-and-designing-a-transactional-email-template"
                class="pull-left"
                target="_blank"
            >{{ $tc('sw-flow.actions.campaign.fields.campaign.help-link') }}</a>
        </small>
    {% endblock %}

    {% block dotdigital_flowbuilder_plugin_modal_footer %}
    <template #modal-footer>
        <a
            href="https://support.dotdigital.com/hc/en-gb/articles/7101772942738"
            class="pull-left"
            target="_blank"
        >{{ $tc('sw-flow.actions.campaign.help-link') }}</a>
        {% block dotdigital_flowbuilder_plugin_modal_footer_cancel_button %}
        <sw-button
            class="dotdigital-flowbuilder-plugin-modal__cancel-button"
            size="small"
            @click="onClose"
        >
            {{ $tc('global.default.cancel') }}
        </sw-button>
        {% endblock %}

        {% block dotdigital_flowbuilder_plugin_modal_footer_save_button %}
        <sw-button
            class="dotdigital-flowbuilder-plugin-modal__save-button"
            variant="primary"
            size="small"
            @click="onAddAction"
        >
            {{ sequence.id
                ? $tc('Save Action')
                : $tc('Add Action') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}
</sw-modal>
{% endblock %}
