<span>
    {% block sw_flow_mail_send_modal_recipient %}
    <sw-single-select
        v-model="mailRecipient"
        class="sw-flow-mail-send-modal__recipient"
        :options="recipientOptions"
        :label="$tc('sw-flow.shared.recipient-selector.fields.recipients.label')"
        :placeholder="$tc('sw-flow.modals.mail.placeholderRecipient')"
        @change="onChangeRecipient"
    />
    <small
        v-if="mailRecipientDescription"
        id="emailHelp"
        class="dd-description"
        v-html="mailRecipientDescription"
    ></small>

    {% endblock %}
    {% block sw_flow_mail_send_modal_recipient_emails_grid %}
    <sw-data-grid
        v-if="showRecipientEmails"
        ref="recipientsGrid"
        class="sw-flow-mail-send-modal__recipient-grid"
        :class="recipientGridError ? 'has--error sw-field' : 'sw-field'"
        :data-source="recipients"
        :columns="recipientColumns"
        :show-selection="false"
        :plain-appearance="true"
        @inline-edit-save="saveRecipient"
        @inline-edit-cancel="cancelSaveRecipient"
    >

        {% block sw_event_action_detail_recipients_grid_column_email %}
        <template #column-email="{ item, column, isInlineEdit, compact }">
            <sw-text-field
                v-if="isInlineEdit"
                v-model="item.email"
                class="sw-flow-mail-send-modal__recipient-email ddg-custom-recipient-email"
                :size="compact ? 'small' : 'default'"
                :error="item.errorMail"
                :placeholder="$tc('sw-flow.shared.recipient-selector.grid.columns.email.placeholder')"
            />
        </template>
        {% endblock %}

        <template #actions="{ item, itemIndex }">
            {% block sw_event_action_detail_recipients_grid_action_edit %}
            <sw-context-menu-item
                class="sw-flow-mail-send-modal__grid-action-edit"
                @click="onEditRecipient(item)"
            >
                {{ $tc('global.default.edit') }}
            </sw-context-menu-item>
            {% endblock %}

            {% block sw_event_action_detail_recipients_grid_action_delete %}
            <sw-context-menu-item
                class="sw-flow-mail-send-modal__grid-action-delete"
                variant="danger"
                :disabled="!allowDeleteRecipient(itemIndex)"
                @click="onDeleteRecipient(itemIndex)"
            >
                {{ $tc('global.default.delete') }}
            </sw-context-menu-item>
            {% endblock %}
        </template>
    </sw-data-grid>
    {% endblock %}
</span>
