.dotdigital-flowbuilder-plugin-modal {

    .sw-field + small {
        margin: -27px 0 20px;
    }

    .sw-modal__footer {
        justify-content: end;
        align-items: center;
        display: flex;

        .pull-left {
            margin-right: auto;
        }
    }

    .sw-field--checkbox .sw-field--checkbox__content {
        display: grid;
        grid-template-columns: 16px 1fr;
        align-items: inherit;
    }

    .dd-description {
        display: block;
        color: #8599ad;
    }

    .dd-label {
        width: 100%;
        display: flex;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 8px;
        color: #52667a;
    }

    .dd-label-wrapper {
        margin-bottom: 0.5rem;
    }

    .dd-separator {
        overflow: hidden;
        margin: 2rem -30px;
        box-sizing: border-box;
        span {
            display: flex;
            border-top: solid 1px #d1d9e0;
        }
    }
}

