.dotdigital-flowbuilder-plugin-modal {

    .sw-data-grid__row.is--inline-edit{
        .sw-data-grid__cell{
            height: 70px;

            .sw-data-grid__cell-content{
                height: 70px;
            }

            .sw-flow-mail-send-modal__recipient-email{
                margin: 0;
                .mt-email-field__block {
                    min-height: 36px;
                }
            }
        }
    }

    .sw-field + small {
        margin: -27px 0 20px;
    }

    .sw-modal__footer {
        justify-content: end !important;
        align-items: center !important;
        display: flex !important;

        .pull-left {
            margin-right: auto;
        }
    }

    .sw-field--checkbox .sw-field--checkbox__content {
        display: grid;
        grid-template-columns: 16px 1fr;
        align-items: inherit;
    }

    .dd-description {
        display: block;
        color: #8599ad;
        margin-bottom: 8px;
    }

    .dd-label {
        width: 100%;
        display: flex;
        line-height: 16px;
        font-size: 14px;
        margin-top: 8px;
        color: #52667a;
    }

    .dd-label-wrapper {
        margin-bottom: 0.5rem;
    }

    .dd-separator {
        overflow: hidden;
        margin: 2rem -30px;
        box-sizing: border-box;
        span {
            display: flex;
            border-top: solid 1px #d1d9e0;
        }
    }
}
